@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Benvenuti a Spedizioni Nazionali!</h1>
    <h6>Il tuo partner affidabile per spedizioni nazionali</h6>
    <p>Spedizioni Nazionali è una nuova azienda di spedizioni nazionali nata con l'obiettivo di fornire un servizio efficiente, affidabile e conveniente a privati e aziende.</p>
    <strong>Perché scegliere noi?</strong>
    <ul>
        <li>Consegna rapida e sicura: Ci avvaliamo di una rete di partner consolidati per garantire consegne rapide e sicure in tutta Italia.</li>
        <li>Prezzi competitivi: Offriamo tariffe competitive e vantaggiose per tutte le tipologie di spedizione.</li>
        <li>Servizio personalizzato: Ascoltiamo le tue esigenze e ti offriamo soluzioni personalizzate per ogni tua necessità.</li>
        <li>Tecnologia all'avanguardia: Tracciamo le tue spedizioni in tempo reale e ti forniamo aggiornamenti via email.</li>
        <li>Assistenza clienti dedicata: Un team di esperti è a tua disposizione per rispondere a tutte le tue domande e fornirti assistenza in ogni momento.</li>
    </ul>
    <strong>Cosa spediamo?</strong>
    <p>Spediamo qualsiasi tipo di merce, dai piccoli pacchi ai grandi volumi, compresi articoli fragili e deperibili.</p>

    <strong>Scopri di più sui nostri servizi:</strong>
    <ul>
        <li>Spedizioni express: Consegna in 24/48 ore</li>
        <li>Spedizioni standard: Consegna in 3/5 giorni</li>
        <li>Spedizioni di pallet: Per grandi volumi e merci pesanti</li>
        <li>Spedizioni assicurate: Per una maggiore tranquillità</li>
        <li>Servizio di contrassegno: Pagamento alla consegna</li>
    </ul>
</main>

<footer>
    <p>
        Contattaci:

        Per qualsiasi domanda o per richiedere un preventivo personalizzato, non esitare a contattarci:

        <strong>Telefono:</strong> +39 329 7436 189
        <strong>Email:</strong> SpedizioniNazionali@gmail.com
        Spedizioni Nazionali: la tua scelta per spedizioni nazionali affidabili e convenienti.

        Scegli noi per la tua prossima spedizione!
    </p>
</footer>